<html>
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded">
            <h1 class="display-6 text-center">Sleep and Tiredness</h1>
            <div class="row">
                <div class="rounded mx-auto text-center">
            <img class="img-thumbnail" style="width:auto; height:30vh" src="https://www.verywellhealth.com/thmb/ZG8wosgQWRLQL03R5TgB_FEs_DI=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/why-does-high-blood-pressure-make-you-tired-5203914_Final-39a86c531d5f4b5ca6095debd3ec4f45.jpg">
            </div>
          </div>
          <br>
          <div>
                <p class="text-center fw-semibold .fs-6 text-wrap">Sleep is a vital aspect of maintaining overall health and well-being. 
                    During sleep, the body and mind undergo crucial restorative processes such as repairing tissues,
                     consolidating memories, and regulating hormones. The amount and quality of sleep can affect energy levels,
                      mood, and cognitive function during the day. Tiredness, on the other hand, 
                      is a feeling of fatigue or exhaustion that can result from a lack of sleep, 
                      poor sleep quality, or other factors such as stress, illness, or medication. 
                      Chronic tiredness can have negative impacts on physical and mental health and can interfere with daily activities. 
                      Strategies to promote good sleep hygiene include establishing a regular sleep schedule,
                     creating a relaxing sleep environment, limiting caffeine and alcohol intake, and avoiding screen time before bedtime. </p>
          </div>
        </div>
    </main>

    <footer class=" text-center text-lg-start fixed-bottom">
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>