<html>
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded">
            <h1 class="display-6 text-center">About</h1>
            <div class="row">
                <div class="rounded mx-auto text-center">
            <img class="img-thumbnail" style="width:auto; height:30vh" src="https://www.gcu.ac.uk/__data/assets/image/0029/9785/varieties/large.jpg">
            </div>
          </div>
          <br>
          <div>
                <p class="text-center fw-semibold .fs-6 text-wrap">This website was made for WAD2 Coursework 2.</p>
          </div>
        </div>
    </main>

    <footer class=" text-center text-lg-start fixed-bottom">
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>