<html>
<head>
    <title>Health App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
</body>
</html>