<html>
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded">
            <h1 class="display-6 text-center">WAD2 Health App</h1>
            <div class="row">
                <div class="rounded mx-auto text-center">
            <img class="img-thumbnail" style="width:auto; height:50vh" src="https://www.watford.gov.uk/images/health1.jpg">
            </div>
          </div>
        </div>
    </main>

    <footer class=" text-center text-lg-start fixed-bottom">
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>