<html>
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded mt-3">
            <h1 class="display-6 text-center">Profile</h1>
            <div class="container justify-content-center">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary btn-lg" href="/diary/" role="button">View Diary</a>
                    <br><br>
                    <a class="btn btn-primary btn-lg" href="/setGoals/" role="button">Set Goals</a>
                  </div>
    </div>
    </main>

    <footer class=" text-center text-lg-start fixed-bottom">
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>