<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="mt-4 p-5 bg-secondary text-white rounded container-fluid mt-3">
        <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-sm-3">.g-col-4</div>
            <div class="col-sm-3">.g-col-4</div>
            <div class="col-sm-3">.g-col-4</div>
         </div>
    </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>