<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1 class="display-6 text-center">Set Goals</h1>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded container-fluid mt-3">
            <div class="container m-vh-100 d-flex justify-content-center ">
            <form method="POST" action="/savegoal">
            <div class="mb-3">
                <label for="name">Name:</label>
                <input type="text" id="name" name="goal" required>
            </div>
            <div class="mb-3">   
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>    
            <div class="mb-3">  
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="date" required>
            </div>  
            <div class="text-center">
                <input type="submit" value="Save">
            </div>
            </form>
        </div>
        </div>
    </main>

    <footer class="text-center text-lg-start fixed-bottom">
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>